[submodule "Projects/1/Parallel-Ring-Leader-Election"]
	path = Projects/1/Parallel-Ring-Leader-Election
	url = https://github.com/david-kishi/Parallel-Ring-Leader-Election
[submodule "Projects/2/wheat-seed-cluster"]
	path = Projects/2/wheat-seed-cluster
	url = git@github.com:david-kishi/wheat-seed-cluster.git
